Repository compucorp/civihr-tasks-assignments, pull requests merged in 2018-05, with the labels that each got.

#356 Sync master with staging
  Jenkinsfile
  package-lock.json
  package.json
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Page/Options.php
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Upgrader.php
  uk.co.compucorp.civicrm.tasksassignments/gulpfile.js
  uk.co.compucorp.civicrm.tasksassignments/info.xml
  uk.co.compucorp.civicrm.tasksassignments/js/dist/crm-tasks-workflows.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-assignments.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows/controllers/casetype.extended.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows/decorators/route.decorator.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows/modules/crm-tasks-workflows.controllers.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows/modules/crm-tasks-workflows.core.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows/modules/crm-tasks-workflows.decorator.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/controllers/modal/modal-dialog.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/controllers/casetype.extended.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/karma.conf.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/mocks/controllers/case-type.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/mocks/data/document-activity-options.data.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/mocks/data/task-activity-options.data.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/mocks/modules/crm-case-type.module.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/mocks/modules/crm-tasks-workflows.mocks.module.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/assignments.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/document-list.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/document.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/main.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/modal/modal-assignment.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/modal/modal-document.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/modal/modal-task.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/tasks-list.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/filters/date-field.filter.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/filters/date-type.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/filters/ownership.filter.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/karma.conf.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/data/app-settings.data.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/data/assignment.data.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/data/contact.data.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/data/document.data.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/data/key-dates.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/data/task.data.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/fabricators/assignment.fabricator.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/fabricators/contact.fabricator.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/fabricators/document.fabricator.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/fabricators/file.fabricator.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/fabricators/task.fabricator.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/services/assignment.service.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/services/contact.service.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/services/document.service.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/services/settings.service.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/services/task.service.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/test-main.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/test-main.js
  uk.co.compucorp.civicrm.tasksassignments/tasksassignments.php
Labels: ready to test, release

#328 PCHR-3093: Cleanup Shoreditch Partials
  uk.co.compucorp.civicrm.tasksassignments/css/civitasks.css
  uk.co.compucorp.civicrm.tasksassignments/scss/civihr/partials/_datepicker.scss
  uk.co.compucorp.civicrm.tasksassignments/scss/civihr/partials/_forms.scss
  uk.co.compucorp.civicrm.tasksassignments/scss/civitasks.scss
  uk.co.compucorp.civicrm.tasksassignments/scss/civitasks/modules/_civihr-ui-select.scss
Labels: enhancement, ready to test

#366 PCHR-3732: Fetch only current version of Documents
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-notification-badge.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-notification-badge/components/tasks-notification-badge.component.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-notification-badge/component/tasks-notification-badge.component.spec.js
Labels: bug, ready to test

#367 PCHR-3732: Fetch only current version of Tasks
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-notification-badge.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-notification-badge/components/tasks-notification-badge.component.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-notification-badge/component/tasks-notification-badge.component.spec.js
Labels: bug, ready to test

#365 PCHR-3673: Count of Assigned Task and Documents
  uk.co.compucorp.civicrm.tasksassignments/css/civitasks.css
  uk.co.compucorp.civicrm.tasksassignments/gulpfile.js
  uk.co.compucorp.civicrm.tasksassignments/js/build.js
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-notification-badge.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-notification-badge.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-notification-badge/app.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-notification-badge/components/tasks-notification-badge.component.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-notification-badge/modules/components.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-notification-badge/modules/config.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-notification-badge/modules/settings.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-notification-badge/component/tasks-notification-badge.component.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-notification-badge/karma.conf.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-notification-badge/test-main.js
  uk.co.compucorp.civicrm.tasksassignments/tasksassignments.php
  uk.co.compucorp.civicrm.tasksassignments/views/tasks-notification-badge/components/tasks-notification-badge.html
Labels: new feature, ready to test
