Repository compucorp/civihr-tasks-assignments, pull requests merged in 2018-08, with the labels that each got.

#403 PCHR-4049: Upgrade gulp
  Jenkinsfile
  package-lock.json
  package.json
  uk.co.compucorp.civicrm.tasksassignments/gulpfile.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-notification-badge/components/tasks-notification-badge.component.spec.js
Labels: new feature, ready to test

#407 PCHR-4050: Move back upgrader for creating case type category field
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Upgrader.php
Labels: ready to test, regression

#404 PCHR-4050: Fixes for default assignees
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-assignments.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/controllers/modal/modal-assignment.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/modal/modal-assignment.controller.spec.js
Labels: bug, ready to test

#406 PCHR-4033: Fix task assignments documents filters and counters
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-assignments.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/controllers/document-list.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/document-list.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/views/dashboard/documents.html
  uk.co.compucorp.civicrm.tasksassignments/views/directives/sidebar-filters.html
Labels: bug, ready to test

#408 PCHR-4111: Hide relationship types that are disabled
  uk.co.compucorp.civicrm.tasksassignments/js/dist/crm-tasks-workflows.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows/controllers/casetype.extended.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/controllers/casetype.extended.controller.spec.js
Labels: enhancement, ready to test

#409 PCHR-3693: Only display workflows when creating cases
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Hook/PageRun/CustomFieldIds.php
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-assignments.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/controllers/modal/modal-assignment.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/modules/tasks-assignments.constants.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/modal/modal-assignment.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/fabricators/assignment.fabricator.js
  uk.co.compucorp.civicrm.tasksassignments/tests/phpunit/CRM/Tasksassignments/Hook/PageRun/CustomFieldIdsTest.php
  uk.co.compucorp.civicrm.tasksassignments/views/modal/assignment.html
Labels: enhancement, ready to test

#410 PCHR-4046: Fix security vulnerabilities
  package-lock.json
  package.json
Labels: enhancement, ready to test

#351 PCHR-3625: Workflow creation, prompt user without manager
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-assignments.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/controllers/modal/modal-assignment.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/modules/tasks-assignments.core.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/modal/modal-assignment.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/karma.conf.js
  uk.co.compucorp.civicrm.tasksassignments/views/modal/assignment.html
Labels: enhancement, ready to test

#411 PCHR-4122: Add Case Type Category Form Field
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Upgrader.php
  uk.co.compucorp.civicrm.tasksassignments/js/dist/crm-tasks-workflows.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows/controllers/casetype.extended.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows/decorators/route.decorator.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/controllers/casetype.extended.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/decorators/route.decorator.spec.js
  uk.co.compucorp.civicrm.tasksassignments/tasksassignments.php
  uk.co.compucorp.civicrm.tasksassignments/templates/partials/case-type-category-form-field.tpl
Labels: enhancement, ready to test

#412 PCHR-4116: Bump version to 1.7.10
  uk.co.compucorp.civicrm.tasksassignments/info.xml
Labels: ready to test

#413 Sync master with staging
  Jenkinsfile
  package-lock.json
  package.json
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Upgrader.php
  uk.co.compucorp.civicrm.tasksassignments/css/civitasks.css
  uk.co.compucorp.civicrm.tasksassignments/gulpfile.js
  uk.co.compucorp.civicrm.tasksassignments/info.xml
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-assignments.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-notification-badge.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/controllers/document-list.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/modules/tasks-assignments.core.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/modules/tasks-assignments.run.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/vendor/angular/angular-ui-router.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-notification-badge/components/tasks-notification-badge.component.js
  uk.co.compucorp.civicrm.tasksassignments/js/tasks-assignments.build.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/document-list.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/services/contact.service.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/services/document.service.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/services/settings.service.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/services/task.service.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/test-main.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-notification-badge/components/tasks-notification-badge.component.spec.js
  uk.co.compucorp.civicrm.tasksassignments/scss/civihr/modules/_unset.scss
  uk.co.compucorp.civicrm.tasksassignments/templates/CRM/Tasksassignments/Page/Dashboard.tpl
  uk.co.compucorp.civicrm.tasksassignments/views/dashboard/documents.html
  uk.co.compucorp.civicrm.tasksassignments/views/directives/sidebar-filters.html
  uk.co.compucorp.civicrm.tasksassignments/xml/probation.xml
Labels: ready to test, release

#414 PCHR-4123: Remove cache for default assignee by relationship
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-assignments.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/controllers/modal/modal-assignment.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/modal/modal-assignment.controller.spec.js
Labels: bug, ready to test

#416 PCHR-4125: Populate workflow activity types after the cache has been …
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-assignments.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/controllers/modal/modal-assignment.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/modal/modal-assignment.controller.spec.js
Labels: bug, ready to test

#385 PCHR-3369: Tasks and Workflows UX improvements
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/BAO/Task.php
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Hook/PageRun/CustomFieldIds.php
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Hook/PageRun/Resources.php
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Test/Fabricator/Case.php
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Test/Fabricator/CaseType.php
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Test/Fabricator/OptionGroup.php
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Test/Fabricator/OptionValue.php
  uk.co.compucorp.civicrm.tasksassignments/CRM/Tasksassignments/Upgrader.php
  uk.co.compucorp.civicrm.tasksassignments/api/v3/Task.php
  uk.co.compucorp.civicrm.tasksassignments/js/dist/crm-tasks-workflows.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/dist/tasks-assignments.min.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows/controllers/casetype.extended.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows/decorators/route.decorator.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/crm-tasks-workflows/modules/crm-tasks-workflows.constants.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/controllers/main.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/controllers/modal/modal-assignment.controller.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/modules/tasks-assignments.constants.js
  uk.co.compucorp.civicrm.tasksassignments/js/src/tasks-assignments/modules/tasks-assignments.core.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/controllers/casetype.extended.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/decorators/route.decorator.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/globals.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/crm-tasks-workflows/karma.conf.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/main.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/modal/modal-assignment-activity.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/controllers/modal/modal-assignment.controller.spec.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/karma.conf.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/data/option-values.data.js
  uk.co.compucorp.civicrm.tasksassignments/js/test/tasks-assignments/mocks/fabricators/assignment.fabricator.js
  uk.co.compucorp.civicrm.tasksassignments/tasksassignments.php
  uk.co.compucorp.civicrm.tasksassignments/tests/phpunit/CRM/Tasksassignments/BAO/TaskTest.php
  uk.co.compucorp.civicrm.tasksassignments/tests/phpunit/CRM/Tasksassignments/Hook/PageRun/CustomFieldIdsTest.php
  uk.co.compucorp.civicrm.tasksassignments/tests/phpunit/CRM/Tasksassignments/Hook/PageRun/ResourcesTest.php
  uk.co.compucorp.civicrm.tasksassignments/tests/phpunit/api/v3/TaskTest.php
  uk.co.compucorp.civicrm.tasksassignments/views/modal/assignment.html
Labels: enhancement, new feature, ready to test
